h1 {
  color: 15px;
}

.bg-image {
  width: 100vw;
  min-height: 800px;
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
  background-image: url("https://t3.ftcdn.net/jpg/04/57/34/56/360_F_457345607_dW85bYfV9OlN5I2nVveYGib1t1MbrZts.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 

}

.bg-image-update-class {
  width: 100vw;
  min-height: 800px;
  text-align: center;
  background-image: url("https://t3.ftcdn.net/jpg/04/57/34/56/360_F_457345607_dW85bYfV9OlN5I2nVveYGib1t1MbrZts.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 

}